/*------------ pre define class in CSS---------*/
/* line 12, ../sass/main.scss */
.nav-font, .main-nav li > a, .navbar-nav > li > a {
  font-family: Roboto;
  color: #000;
  font-size: 18px;
  font-weight: 100;
  text-align: center;
}

/* line 19, ../sass/main.scss */
.hero-font, .about-text p {
  text-shadow: 1px 2px 10px #000;
  padding: 15px 25px 15px 25px;
  font-family: playfair;
  color: #fff;
  font-size: 36px;
  font-style: italic;
  text-align: center;
}

/*-------------css start here ------------------*/
/* line 29, ../sass/main.scss */
#body_wrapper {
  display: block;
  position: inherit;
  width: 100%;
}

/* line 34, ../sass/main.scss */
.Home a {
  display: none !important;
  width: 0px;
}

/* line 38, ../sass/main.scss */
.home-section {
  min-height: 100%;
}

/* line 44, ../sass/main.scss */
.top-logo {
  margin: 0px;
}

/* line 47, ../sass/main.scss */
.main-logo {
  width: 192px;
  height: 111px;
  margin-top: 20px;
}

/* line 52, ../sass/main.scss */
.main-logo-in-mobile {
  width: 100px;
  margin-top: 25px;
}

/* line 56, ../sass/main.scss */
.fall-back-logo {
  width: 192px;
  height: 111px;
  margin-top: 20px;
}

/* line 61, ../sass/main.scss */
.main-nav {
  background: #fff;
}

/* line 64, ../sass/main.scss */
#nav {
  position: static;
  top: -32px;
}

/* line 68, ../sass/main.scss */
#nav.affix {
  position: fixed;
  top: 0;
  z-index: 10;
  -webkit-transition: all .6s ease-in-out;
}

/* line 74, ../sass/main.scss */
header {
  background: #fff;
  max-height: 140px;
  margin-bottom: 10px;
}

/* line 79, ../sass/main.scss */
.navbar {
  margin-bottom: 0px;
}

/* line 82, ../sass/main.scss */
.icon-bar {
  background: #fff;
}

/* line 85, ../sass/main.scss */
.nav-main-ul {
  margin: 0px auto;
  background: #fff;
}

/* line 89, ../sass/main.scss */
.navbar-nav > li > a {
  padding-top: 16px;
  padding-bottom: 17px;
}

/* line 94, ../sass/main.scss */
.navbar-nav > li > a:hover {
  background: rgba(232, 232, 232, 0.5);
}

/* line 97, ../sass/main.scss */
.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

/* line 101, ../sass/main.scss */
.navbar .navbar-collapse {
  text-align: center;
}

/* line 104, ../sass/main.scss */
.dropdown-menu {
  background: rgba(242, 242, 242, 0.7);
}

/* line 107, ../sass/main.scss */
.dropdown-menu li {
  border-bottom: 1px solid #fff;
}

/* line 110, ../sass/main.scss */
#navbar {
  max-height: 54px;
  border-bottom: 1px solid #333;
  margin-bottom: -1px;
}

/* line 115, ../sass/main.scss */
.nav-collapsed {
  background: #aaa;
}

/* line 118, ../sass/main.scss */
#nav {
  width: 100%;
}

/* line 121, ../sass/main.scss */
.content-wrapper {
  overflow: hidden;
}

/*----------------------about ---------------------*/
/* line 125, ../sass/main.scss */
.about-text {
  padding-top: 80px;
  text-align: center;
}

/* line 129, ../sass/main.scss */
.about-text h1, p {
  margin-bottom: 0px;
}

/*-------------------gallery-section-----------------*/
/* line 137, ../sass/main.scss */
.work-gallery-section {
  text-align: center;
}

/* line 140, ../sass/main.scss */
.work-section a > h4, p {
  color: #3d3d3d;
}

/* line 144, ../sass/main.scss */
.thumbnail:hover {
  text-decoration: none !important;
}

/* line 147, ../sass/main.scss */
.gallery-view-more img {
  width: 100%;
}

/* line 150, ../sass/main.scss */
.gallery-view-more p {
  min-height: 120px;
}

/* line 153, ../sass/main.scss */
.work-gallery-section .view-more {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

/*-------------------text-area-section-----------------*/
/* line 158, ../sass/main.scss */
.text-area-section {
  margin-top: 100px;
  min-height: 300px;
}

/* line 162, ../sass/main.scss */
.award-container {
  background: rgba(255, 255, 255, 0.8);
}

/* line 165, ../sass/main.scss */
.text-area-section h2, p {
  text-align: center;
}

/* line 168, ../sass/main.scss */
.blockquote {
  border-left: 0px;
}

/*-------------------textarea-section-----------------*/
/* line 172, ../sass/main.scss */
.blog-section {
  background: #efefef;
  padding-bottom: 100px;
}

/* line 176, ../sass/main.scss */
.blog h2 {
  margin-top: 100px;
  text-align: center;
  margin-bottom: 40px;
}

/*-------------------video-section-------------------*/
/* line 182, ../sass/main.scss */
.video-section {
  padding-top: 100px;
  padding-bottom: 40px;
}

/* line 186, ../sass/main.scss */
.video-section h2 {
  text-align: center;
}

/*-------------------contact-section-----------------*/
/* line 190, ../sass/main.scss */
.contact-section {
  background: #efefef;
  min-height: 400px;
}

/* line 194, ../sass/main.scss */
.contact-section h2 {
  margin-top: 20px;
  color: #383838;
}

/* line 198, ../sass/main.scss */
.contact-sectoin p {
  margin-bottom: 10px;
}

/* line 201, ../sass/main.scss */
.contact-section-text-area {
  margin-top: 10px;
  padding: 20px;
  background-color: rgba(235, 235, 235, 0.8);
}

/* line 206, ../sass/main.scss */
.contact-section h2, p {
  text-align: center;
}

/*-------------------footer-section-------------------*/
/* line 210, ../sass/main.scss */
.footer-section {
  min-height: 300px;
  padding-bottom: 50px;
  text-align: center;
}

/* line 215, ../sass/main.scss */
.footer-line {
  margin-left: 0px;
  margin-right: 0px;
  border-top: 1px solid #777;
}

/* line 220, ../sass/main.scss */
.footer {
  width: 240px;
  margin: 0px auto;
  margin-top: 50px;
}

/* line 225, ../sass/main.scss */
.footer-section img {
  width: 82px;
  height: 47px;
}

/* line 229, ../sass/main.scss */
.footer-section p {
  margin-left: 5%;
}

/* line 233, ../sass/main.scss */
.footer-social {
  margin: 0px auto;
  display: block;
}

/* line 237, ../sass/main.scss */
.footer-social p {
  font-size: 13.35px;
  font-weight: 100;
  transform: scaleY(1.0012);
}

/* line 243, ../sass/main.scss */
.footer-social a {
  border-radius: 0px;
  padding: 5px 5px !important;
  color: #d7d7d7;
  background: #333333;
}

/* line 250, ../sass/main.scss */
.footer-social a:hover {
  color: #333333;
  background: #d7d7d7;
}

/* line 254, ../sass/main.scss */
.social-ul {
  list-style: none;
  width: 170px;
  margin: 0px auto;
  margin-top: 10px;
}

/* line 260, ../sass/main.scss */
.fa-facebook {
  padding: 5px 10px !important;
}

/* line 263, ../sass/main.scss */
.social-ul li {
  margin-left: 1px;
  float: left;
  display: inline-block;
}

/* line 268, ../sass/main.scss */
.social-ul li:first-child {
  margin-left: -10px;
}

/*-------------------------media carousel---------------*/
/* gallery */
/* line 273, ../sass/main.scss */
.album-container {
  margin-top: 20px;
}

/* line 276, ../sass/main.scss */
.gallery-slice {
  background: #f9f5f4;
}

/* line 279, ../sass/main.scss */
.carousel-inner h4 {
  text-align: center;
}

/* line 282, ../sass/main.scss */
#Container .mix {
  display: none;
}

/* line 285, ../sass/main.scss */
.gallery-child {
  margin-top: 50px;
  padding-bottom: 50px;
}

/* line 289, ../sass/main.scss */
.gallery-child .controls {
  margin-bottom: 20px;
}

/* line 292, ../sass/main.scss */
.gallery-child .tags-display {
  margin-bottom: 20px;
}

/* line 295, ../sass/main.scss */
.active-tag {
  background-color: rgba(235, 235, 235, 0.5);
  border: none;
}

/* line 299, ../sass/main.scss */
.btn-tags {
  font-family: Roboto;
  color: #000000;
  font-size: 18px;
  font-weight: 100;
  text-align: left;
}

/* line 306, ../sass/main.scss */
.gallery-child .controls > .btn {
  margin-top: 10px;
  border-radius: 0px;
}

/* line 310, ../sass/main.scss */
#myCarousel h3 {
  color: #030202;
  font-size: 24px;
  font-weight: 500;
}

/* line 315, ../sass/main.scss */
#myCarousel p {
  color: #030202;
  font-size: 16px;
  font-weight: 300;
}

/* line 320, ../sass/main.scss */
.work-gallery-section a {
  font-size: 18px;
  font-weight: 100;
  text-align: left;
  margin-left: 12px;
}

/* line 326, ../sass/main.scss */
.gallery-seperator {
  border-radius: 45px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

/* line 331, ../sass/main.scss */
.work-gallery-section h2 {
  margin-top: 60px;
}

/* line 334, ../sass/main.scss */
#Container {
  margin-top: 40px;
  padding-bottom: 50px;
}

/* line 338, ../sass/main.scss */
.box {
  cursor: pointer;
  height: 220px;
  position: relative;
  overflow: hidden;
  width: 220px;
}

/* line 345, ../sass/main.scss */
.box img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* line 351, ../sass/main.scss */
.box .overbox {
  background-color: rgba(200, 200, 200, 0.8);
  top: 0;
  left: 0;
  color: #fff;
  z-index: 0;
  opacity: 0;
  width: 220px;
  height: 220px;
  padding: 90px 10px;
}

/* line 362, ../sass/main.scss */
.box:hover .overbox {
  opacity: 1;
}

/* line 365, ../sass/main.scss */
.box .overtext {
  transform: translateY(0px);
  -webkit-transform: translateY(40px);
}

/* line 369, ../sass/main.scss */
.box .title {
  font-family: Roboto;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  opacity: 1;
  transition-delay: 0.1s;
  transition-duration: 0.2s;
}

/* line 380, ../sass/main.scss */
.box:hover .title,
.box:focus .title {
  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
}

/* line 386, ../sass/main.scss */
.box .tagline {
  font-size: 0.8em;
  opacity: 0;
  transition-delay: 0.2s;
  transition-duration: 0.2s;
}

/* line 392, ../sass/main.scss */
.box:hover .tagline,
.box:focus .tagline {
  opacity: 1;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
}

/* line 398, ../sass/main.scss */
.gallery-child {
  margin-top: 50px;
}

/* line 401, ../sass/main.scss */
.home-gallery p {
  font-size: 14px;
  font-weight: 500;
  margin: 0px 55px 0px 55px;
}

/* line 406, ../sass/main.scss */
.gallery-control {
  position: absolute;
}

/* line 409, ../sass/main.scss */
.gallery i {
  font-weight: 100;
  background: #ddd;
  color: white;
  font-size: 39px;
  width: 39px;
  height: 39px;
  border-radius: 45px;
  text-align: center;
  vertical-align: top;
}

/* line 420, ../sass/main.scss */
.carousel-control.left, .right {
  background: none !important;
}

/* line 423, ../sass/main.scss */
.carousel-control.left, .right span {
  color: #ccc;
}

/* carousel */
/* line 427, ../sass/main.scss */
.media-carousel {
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
  margin-top: 30px;
}

/* Previous button  */
/* line 433, ../sass/main.scss */
.media-carousel .carousel-control.left {
  left: -142px;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width: 40px;
  margin-top: 9%;
}

/* Next button  */
/* line 443, ../sass/main.scss */
.media-carousel .carousel-control.right {
  right: -142px !important;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width: 40px;
  margin-top: 9%;
}

/* Changes the position of the indicators */
/* line 453, ../sass/main.scss */
.media-carousel .carousel-indicators {
  right: 50%;
  top: 50%;
  bottom: 0px;
  margin-right: 20px;
}

/* Changes the colour of the indicators */
/* line 460, ../sass/main.scss */
.media-carousel .carousel-indicators li {
  background: #c0c0c0;
}

/* line 463, ../sass/main.scss */
.media-carousel .carousel-indicators .active {
  background: #333333;
}

/* line 466, ../sass/main.scss */
.thumbnail {
  color: #383838;
}

/* End carousel */
/* line 470, ../sass/main.scss */
section {
  color: #ffffff;
  min-height: 600px;
  height: auto !important;
  height: 100%;
  padding-top: 100px;
}

/* line 477, ../sass/main.scss */
.parallax-1 {
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 485, ../sass/main.scss */
.scroll-top {
  position: fixed;
  bottom: 0;
  right: 6%;
  z-index: 100;
  background: #ddd;
  font-size: 24px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

/* line 495, ../sass/main.scss */
.scroll-top a:link, .scroll-top a:visited {
  color: #222;
}

/*# sourceMappingURL=main.css.map */
