@media (min-width: 768px) and (max-width:980px){
    .main-logo-in-mobile{
        width:160px;
        float:left;
    }
    .tb-navbar-right {
        float:right;
    }
    .navbar-nav li>a {

        padding:17px 8px 17px 8px;
    }
    .nav-bottom-border{
      border-bottom: none;
    }
    .navbar-static-top{
      -webkit-box-shadow: 0 1px 6px #ccc;
         -moz-box-shadow: 0 1px 6px #ccc;
              box-shadow: 0 1px 6px #ccc;
    }
    #navbar{
        margin-top:30px;
    }
    .main-logo-in-mobile{
        width:120px;
        max-height:100px;
        margin:5px;
    }
}
@media(max-width:768px){
    .main-logo-in-mobile{
        width:110px;
        max-height:100px;
        margin:5px;
    }
    .navbar .navbar-nav {
      border-top:1px solid #ccc;
    }
    .nav-bottom-border{
      border-bottom: none;
    }
    .navbar-static-top{
      -webkit-box-shadow: 0 1px 6px #ccc;
         -moz-box-shadow: 0 1px 6px #ccc;
              box-shadow: 0 1px 6px #ccc;
    }
    section{
      width:100%;
      height:500px !important;
    }
    .parallax-1{
      background-attachment: scroll;
    }
    .mobile-parallax {
      margin:0px;
    }
    .nav-header-shadow{
      text-align: left;
    }
    .navbar-nav {
      width:100%;
      height: auto;
     max-height: 400px;
     }
    .dropdown{
        width:100%;
    }
    .nav-collapsed{
      margin-top:18px;
    }
    .navbar-toggle{
        background:#ddd;
        margin-top:22px;
        margin-right:22px;
    }

    #navbar{
       max-height:800px !important;

    }
    .nav-ul li{
      margin:10px;
    }

    .main-nav li>a{
        padding-left:45px;
        text-align:left;
    }
    .dropdown-menu>li>a{
        padding-left:100px !important;
        padding-top:13px !important;
        padding-bottom:13px !important;
        margin-top:-5px;
    }
    .gallery-child .carousel-inner img{
      width:220px;
      height:220px !important;
    }
    section{
        height:550px !important;
    }
    .about-text p{
      font-size:18px;
    }
}
