//primary Sass file

@import "base/base";
@import "base/typography";
@import "utils/_mixins";

$bg-white: #fff;
$grey: #333;

$bg-gradient-1 : rgba(232,232,232,0.5);
$dropdown-color: #fff;
$nav-font-color: #000;
$nav-font-hover: rgba(242,242,242,0.7);

/*------------ pre define class in CSS---------*/
.nav-font{
  @include font-mixin(Roboto,18px,#000);
  font-weight: 100;
  text-align: center;
}
.hero-font{
  text-shadow: 1px 2px 10px #000;
  padding: 15px 25px 15px 25px;
  @include font-mixin(playfair,36px,#fff);
  font-style: italic;
  text-align: center;
}
.navbar-nav > li > a.current{
border-bottom:3px solid #333;
}
#main-nav.active{
  border-bottom: 3px solid #333;
}
.nav-bottom-border{
  border-bottom: 1px solid #333;
  @include breakpoint(xs) {
      border-bottom: none;
  }
  @include breakpoint(sm) {
      border-bottom: none;
  }
}
.drop-shadow{
  -webkit-box-shadow: 0 1px 6px #ccc;
     -moz-box-shadow: 0 1px 6px #ccc;
          box-shadow: 0 1px 6px #ccc;
}
/*-------------css start here ------------------*/
#body_wrapper {
  display: block;
  position: inherit;
  width: 100%;
}
.home-section {
    min-height: 100%;
}
.main-nav li>a {
  @extend .nav-font;
  @include breakpoint(xs) {
    padding-left:45px;
    text-align:left;
  }
 }
.top-logo {
  margin: 0px;

 }
.main-logo {
  width: 192px;
  height: 111px;
  margin-top: 20px; }

.main-logo-in-mobile {
  width: 100px;
  margin-top: 25px;
  @include breakpoint(xs) {
    width:110px;
    max-height:100px;
    margin:5px;
  }
  @include breakpoint(sm) {
    width:120px;
    max-height:100px;
    margin:5px;
    float:left
  }
}
.tb-navbar-right{
    @include breakpoint(sm) {
      float:right;
    }
}
.fall-back-logo {
  width: 192px;
  height: 111px;
  margin-top: 20px; }

.main-nav {
  background: $bg-white;}

#nav {
  position: static;
  top: -32px; }

#nav.affix {
  position: fixed;
  top: 0;
  z-index: 10;
  -webkit-transition: all .6s ease-in-out; }

header {
  background: $bg-white ;
  max-height: 140px;
  margin-bottom: 10px; }

.navbar {
  margin-bottom: 0px; }

.icon-bar {
  background: $bg-white ; }

.nav-main-ul {
  margin: 0px auto;
  background: $bg-white ; }

.navbar-nav  li>a {
  @extend  .nav-font;
  @include breakpoint(sm) {
    padding:17px 8px 17px 8px;
  }
  }
.navbar-nav{
  @include breakpoint(xs) {
    width:100%;
    height: auto;
    max-height: 400px;
  }
  @include breakpoint(sm) {
    margin-top:-3px;
  }
}
.nav-header-shadow{
    @include breakpoint(xs) {
      text-align: left;
    }
}
.navbar-toggle{
  @include breakpoint(xs) {
    background:#ddd;
    margin-top:22px;
    margin-right:22px;
  }
}
.nav-collapsed{
  @include breakpoint(xs) {
  margin-top:18px;
  }
}
.navbar-nav > li > a:hover {
  background: none;}

.navbar-nav >li>a, .nav .open > a{
    border-bottom: 3px solid #fff;
}
.navbar-nav > li >a:hover, .nav .open > a:focus{
    border-bottom: 3px solid #231f20;
    background: none;
  }
.open>a:focus, .nav .open>a:hover{
  border-bottom: 3px solid #231f20;
  background: none;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  @include breakpoint(xs) {
    border-top:1px solid #ccc;
  }
}

.navbar .navbar-collapse {
  text-align: center; }

.dropdown-menu {
  margin-top:2px;
  min-width:169px;
  margin-left:-20px;
  background: $dropdown-color;
    }
.dropdown{
   @include breakpoint(xs) {
     width:100%;
   }
}
.dropdown-menu li >a{
  @include font-mixin(Roboto,14px,#000);
  border-bottom: 1px solid #ededed;
   padding:13px;
   font-weight: 100;
   text-align: left;
   margin-left:10px;
   margin-right:10px;}
 .mobile-dropdown{
   @include breakpoint(xs) {
     padding-left:60px;
     padding-top:13px ;
     padding-bottom:13px ;
    margin-top:-5px;
   }
 }
#navbar {
  max-height: 54px;
  margin-bottom: -1px;
  @include breakpoint(xs) {
    max-height:800px;
  }
@include breakpoint(sm) {
  margin-top:30px;
  }}
.nav-ul li{
  @include breakpoint(xs) {
    margin:10px;
  }
}
.nav-collapsed {
  background: #aaa; }

#nav {
  width: 100%; }

.content-wrapper {
  overflow: hidden; }

.navbar-static-top{
  @include breakpoint(xs) {
    @include box-shadow-mixin(#ccc);
  }
  @include breakpoint(sm) {
    @include box-shadow-mixin(#ccc);
  }

}
/*----------------------about ---------------------*/
.about-text {
  padding-top: 80px;
  text-align: center;

 }

.about-text h1, p {
  margin-bottom: 0px; }

.about-text p {
  @extend .hero-font;
  @include breakpoint(xs) {
    font-size:18px;
  }
}
/*-------------------gallery-section-----------------*/
.work-gallery-section {
  text-align: center; }

.work-section a > h4, p {
  color: #3d3d3d;
}

.thumbnail:hover {
  text-decoration: none; }

.gallery-view-more img {
  width: 100%; }

.gallery-view-more p {
  min-height: 120px; }

.work-gallery-section .view-more {
  margin-bottom: 20px;
  padding-bottom: 20px; }

/*-------------------text-area-section-----------------*/
.text-area-section {
  margin-top: 100px;
  min-height: 300px; }

.award-container {
  background: rgba(255, 255, 255, 0.8); }

.text-area-section h2, p {
  text-align: center; }

.blockquote {
  border-left: 0px; }

/*-------------------textarea-section-----------------*/
.blog-section {
  background: #efefef;
  padding-bottom: 100px; }

.blog h2 {
  margin-top: 100px;
  text-align: center;
  margin-bottom: 40px; }

/*-------------------video-section-------------------*/
.video-section {
  padding-top: 100px;
  padding-bottom: 40px; }

.video-section h2 {
  text-align: center; }

/*-------------------contact-section-----------------*/
.contact-section {
  background: #efefef;
  min-height: 400px; }

.contact-section h2 {
  margin-top: 20px;
  color: #383838; }

.contact-sectoin p {
  margin-bottom: 10px; }

.contact-section-text-area {
  margin-top: 10px;
  padding: 20px;
  background-color: rgba(235, 235, 235, 0.8); }

.contact-section h2, p {
  text-align: center; }
/*------------contact-page------*/
.contact-page-section{
  margin-bottom:100px;
}
.contact-row{
  margin-top:100px;
}
.address i {
  margin-right:20px;
}
.address p{
  @include font-mixin(Roboto,18px,#000);
  font-weight: 300;
  line-height: 36px;/* Approximation due to font substitution */
  text-align: left;
  margin-left:30px;
}
.first-address{
  padding-top:10px;
}
.address{
  margin-top:30px;
  background-color:  rgba(229, 229, 229, 0.39);

    width:100%;

}
.contact-detail .map{
  border-width: 0.48000000000000004px;
  border-color:  #444444;
  border-style: solid;
  background-color:  #0076a3;
  width: 100%;
  display:block;
  height: 482px;
  @include breakpoint(md) {
    width:100%;
  }

}
.contact-map{
  @include breakpoint(md) {
  float:right;
  }
  @include breakpoint(lg) {
  float:right;
  }
}
.form-header{
  color:  #000000;
  font-size: 36px;
  font-weight: 400;
  text-align: left;
  margin-top: -10px;
}
.form-name label,.form-email label,.form-message label{
  @include font-mixin(Roboto,18px,#000);
  font-weight: 300;
  text-align: left;
  margin-top:28px;
}
input.form-name{
  border:none;
  width:100%;
  margin-top:22px;
  border-bottom:1px solid #777;
}
input.form-email{
  border:none;
  width:100%;
  margin-top:22px;
  border-bottom:1px solid #777;
}
textarea.form-message{
  width:100%;
  margin-top:22px;
}
#UserForm_Form_action_process{
  margin-top:40px;
  border:1px solid #333;
  background:none;
  padding:7px 22px 7px 22px;
}
.content-form{
  padding-bottom:50px;
  display:block;
  @include breakpoint(md) {
  float:right;
  }
  @include breakpoint(lg) {
  float:right;
  }
}
/*-------------------footer-section-------------------*/
.footer-section {
  min-height: 300px;
  background:#231f20;
  }
.footer-line {
  margin-left: 0px;
  margin-right: 0px;
  border-top: 1px solid #777;
  padding-bottom:30px;
  }
.footer-divider{
  width:100%;
  height:1px;
  margin-top:40px;
  border-top:1px solid rgba(119, 119, 119, 0.5);
  display:block;
}
.footer {
  width: 240px;
  margin: 0px auto;
  margin-top: 50px;
}

.footer-section img {
  width: 82px;
  height: 47px; }

.footer-social {
  margin: 0px auto;
  display: block;
}

.footer-email{
  @include font-mixin(Roboto,13.98px,#fff);
  margin-top:20px;
  margin-left:10px;
  font-weight: 100;
  text-align: center;
  transform: scaleY(1.0012);/* width and height properties ommitted due to transform */
}
.social {
  width: 100%;
  text-align: center;
}

$icon-size: 20px;
$icon-height: $icon-size + 10;
$icon-width: $icon-size + 10;

.social-icon{
  display:inline-block;
  vertical-align:middle;
  height: $icon-height;
  width: $icon-width;
  background: #d7d7d7;
  font-size: $icon-size;
}

.social-icon:hover{
  color: #d7d7d7;
  background: #333333; }

.footer-copyright{
  @include font-mixin(Roboto,11.99px,#fff);
  font-weight: 100;
  text-align: center;

}

/*-------------------------media carousel---------------*/
/* gallery */
.album-container {
  margin-top: 20px; }

.gallery-slice {
  background: #f9f5f4; }

.carousel-inner h4 {
  text-align: center; }

#Container .mix {
  display: none; }

.gallery-child {
  margin-top: 50px;
  padding-bottom: 50px; }

.gallery-child .controls {
  margin-bottom: 20px; }

.gallery-child .tags-display {
  margin-bottom: 20px; }

.active-tag {
  background-color: rgba(235, 235, 235, 0.5);
  border: none; }

.btn-tags {
  @include font-mixin(Roboto,18px,#000);
  font-weight: 100;
  text-align: left; }

.gallery-child .controls > .btn {
  margin-top: 10px;
  border-radius: 0px; }

#myCarousel h3 {
  color: #030202;
  font-size: 24px;
  font-weight: 500; }

#myCarousel p {
  color: #030202;
  font-size: 16px;
  font-weight: 300; }

.work-gallery-section a {
  font-size: 18px;
  font-weight: 100;
  text-align: left;
  margin-left: 12px; }

.gallery-seperator {
  border-radius: 45px;
  border: 1px solid #ddd;
  margin-bottom: 20px; }

.work-gallery-section h2 {
  margin-top: 60px; }

.gallery-child .carousel-inner img{
    @include breakpoint(sm){
      width:220px;
      height:220px;
    }
}
#Container {
  margin-top: 40px;
  padding-bottom: 50px; }

.box {
  cursor: pointer;
  height: 220px;
  position: relative;
  overflow: hidden;
  width: 220px; }

.box img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1; }

.box .overbox {
  background-color: rgba(200, 200, 200, 0.8);
  top: 0;
  left: 0;
  color: #fff;
  z-index: 0;
  opacity: 0;
  width: 220px;
  height: 220px;
  padding: 90px 10px; }

.box:hover .overbox {
  opacity: 1; }

.box .overtext {
  transform: translateY(0px);
  -webkit-transform: translateY(40px); }

.box .title {
  @include font-mixin(Roboto,24px,#000);
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  opacity: 1;
  transition-delay: 0.1s;
  transition-duration: 0.2s; }

.box:hover .title,
.box:focus .title {
  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px); }

.box .tagline {
  font-size: 0.8em;
  opacity: 0;
  transition-delay: 0.2s;
  transition-duration: 0.2s; }

.box:hover .tagline,
.box:focus .tagline {
  opacity: 1;
  transform: translateX(0px);
  -webkit-transform: translateX(0px); }

.gallery-child {
  margin-top: 50px; }

.home-gallery p {
  font-size: 14px;
  font-weight: 500;
  margin: 0px 55px 0px 55px; }

.gallery-control {
  position: absolute; }

.gallery i {
  font-weight: 100;
  background: #ddd;
  color: white;
  font-size: 39px;
  width: 39px;
  height: 39px;
  border-radius: 45px;
  text-align: center;
  vertical-align: top; }

/* carousel */
.media-carousel {
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
  margin-top: 30px; }

/* Previous button  */
.media-carousel .carousel-control.left {
  left: -142px;
  background-image: none;

  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width: 40px;
  margin-top: 9%; }

/* Next button  */
.media-carousel .carousel-control.right {
  right: -142px ;
  background-image: none;

  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width: 40px;
  margin-top: 9%; }

/* Changes the position of the indicators */
.media-carousel .carousel-indicators {
  right: 50%;
  top: 50%;
  bottom: 0px;
  margin-right: 20px; }

/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li {
  background: #c0c0c0; }

.media-carousel .carousel-indicators .active {
  background: #333333; }

.carousel-control.left,.carousel-control.right {
  background: none;}
.gallery-cover{
  background:none;
}
.carousel-control.left, .right span {
  color: #ccc; }
.thumbnail {
  color: #383838; }

/* End carousel */
section {
  color: #ffffff;
  min-height: 600px;
  height: auto;
  height: 100%;
  padding-top: 100px;
  @include breakpoint(xs) {
    width:100%;
    height:550px;
  }
}

.parallax-1 {
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  @include breakpoint(xs) {
      background-attachment: scroll;
  }}
.mobile-parallax{
  @include breakpoint(xs) {
    margin:0px;
  }
}

.scroll-top {
  position: fixed;
  bottom: 0;
  right: 6%;
  z-index: 100;
  background: #ddd;
  font-size: 24px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px; }

.scroll-top a:link, .scroll-top a:visited {
  color: #222; }
