//primary Sass file

@import "base/base";
@import "base/typography";
@import "utils/mixins";

@import "layout/navigation";
@import "layout/footer";
@import "layout/textsection";
@import "layout/video";
@import "layout/parallax";

@import "pages/about";
@import "pages/textslice";
@import "pages/blogslice";
@import "pages/gallery";
@import "pages/contact";
