section {
  color: #fff;
  height: auto;
  height: 100%;
  @include breakpoint(xs) {
    width:100%;
    height:550px;
  }
}

.parallax-1 {
  background: no-repeat center center fixed;
  background-size: cover;
  @include breakpoint(xs) {
      background-attachment: scroll;
  }
}

.mobile-parallax {
  @include breakpoint(xs) {
    margin:0px;
  }
}

.scroll-top {
  position: fixed;
  bottom: 0;
  right: 6%;
  z-index: 100;
  background: #ddd;
  font-size: 24px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.scroll-top a:link, .scroll-top a:visited {
  color: #222;
}
