//Contact specific styles
.contact-page-section{
  margin-bottom:100px;
}
.contact-row{
  margin-top:100px;
}
.address i {
  margin-right:20px;
}
.address p{
  @include font-mixin(Roboto,18px,#000);
  font-weight: 300;
  line-height: 36px;
  text-align: left;
  margin-left:30px;
}
.first-address{
  padding-top:10px;
}
.address{
  margin-top:30px;
  background-color:  rgba(229, 229, 229, 0.39);

    width:100%;

}
.contact-detail .map{
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center;
  border-width: 0.48000000000000004px;
  border-color:  #444444;
  border-style: solid;
  width: 100%;
  display:block;
  height: 482px;
  @include breakpoint(md) {
    width:100%;
  }

}
.contact-map{
  @include breakpoint(md) {
  float:right;
  }
  @include breakpoint(lg) {
  float:right;
  }
}
.form-header{
  color:  #000000;
  font-size: 36px;
  font-weight: 400;
  text-align: left;
  margin-top: -10px;
}
.form-name label,.form-email label,.form-message label{
  @include font-mixin(Roboto,18px,#000);
  font-weight: 300;
  text-align: left;
  margin-top:28px;
}
input.form-name{
  border:none;
  width:100%;
  margin-top:22px;
  border-bottom:1px solid #777;
}
input.form-email{
  border:none;
  width:100%;
  margin-top:22px;
  border-bottom:1px solid #777;
}
textarea.form-message{
  width:100%;
  margin-top:22px;
}
#UserForm_Form_action_process{
  margin-top:40px;
  border:1px solid #333;
  background:none;
  padding:7px 22px 7px 22px;
}
.content-form{
  padding-bottom:50px;
  display:block;
  @include breakpoint(md) {
  float:right;
  }
  @include breakpoint(lg) {
  float:right;
  }
}
