.work-gallery-section {
  text-align: center;
}

.work-section a > h4, p {
  color: #3d3d3d;
}

.thumbnail:hover {
  text-decoration: none;
}

.gallery-view-more img {
  width: 100%;
}

.gallery-view-more p {
  min-height: 120px;
}

.work-gallery-section .view-more {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

  /* gallery */
.album-container {
  margin-top: 20px;
}

.gallery-slice {
  background: #f9f5f4;
}

.carousel-inner h4 {
  text-align: center;
}

#Container .mix {
  display: none;
}

.gallery-child {
  margin-top: 50px;
  padding-bottom: 50px;
}

.gallery-child .controls {
  margin-bottom: 20px;
}

.gallery-child .tags-display {
  margin-bottom: 20px;
}

.active-tag {
  background-color: rgba(235, 235, 235, 0.5);
  border: none;
}

.btn-tags {
  @include font-mixin(Roboto,100,left,18px,#000);
}

.gallery-child .controls > .btn {
  margin-top: 10px;
  border-radius: 0px;
}

#myCarousel h3 {
  @include font-mixin(Roboto,500,left,24px,#030202);
}

#myCarousel p {
  @include font-mixin(Roboto,300,left,16px,#030202);
}

.work-gallery-section a {
  @include font-mixin(Roboto,100,left,18px,#000);
  margin-left: 12px;
}

.gallery-seperator {
  border-radius: 45px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

.gallery-child .carousel-inner img {
  @include breakpoint(sm) {
    width:220px;
    height:220px;
  }
}

#Container {
  margin-top: 40px;
  padding-bottom: 50px;
}

.box {
  cursor: pointer;
  height: 220px;
  position: relative;
  overflow: hidden;
  width: 220px;
}

.box img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.box .overbox {
  background-color: rgba(200, 200, 200, 0.8);
  top: 0;
  left: 0;
  color: #fff;
  z-index: 0;
  opacity: 0;
  width: 220px;
  height: 220px;
  padding: 90px 10px;
}

.box:hover .overbox {
  opacity: 1;
}

.box .overtext {
  transform: translateY(0px);
  -webkit-transform: translateY(40px);
}

.box .title {
  @include font-mixin(Roboto,500,center,24px,#000);
  text-transform: uppercase;
  opacity: 1;
  transition-delay: 0.1s;
  transition-duration: 0.2s;
}

.box:hover .title, .box:focus .title {
  opacity: 1;
  transform: translateY(0px);
}

.box .tagline {
  font-size: 0.8em;
  opacity: 0;
  transition-delay: 0.2s;
  transition-duration: 0.2s;
}

.box:hover .tagline, .box:focus .tagline {
  opacity: 1;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
}

.gallery-child {
  margin-top: 50px;
}

.home-gallery p {
  font-size: 14px;
  font-weight: 500;
  margin: 0px 55px 0px 55px;
}

.gallery-control {
  position: absolute;
}

.gallery i {
  font-weight: 100;
  background: #ddd;
  color: white;
  font-size: 39px;
  width: 39px;
  height: 39px;
  border-radius: 45px;
  text-align: center;
  vertical-align: top;
}
/* carousel */
.media-carousel {
  margin-bottom: 0;
  padding: 0 40px 0px 40px;
  margin-top: 30px;
}
/* Previous button  */
.media-carousel .carousel-control.left {
  left: -142px;
  background-image: none;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width: 40px;
  margin-top: 9%;
}
/* Next button  */
.media-carousel .carousel-control.right {
  right: -142px ;
  background-image: none;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width: 40px;
  margin-top: 9%;
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators {
  right: 50%;
  top: 50%;
  bottom: 0px;
  margin-right: 20px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li {
  background: #c0c0c0;
}

.media-carousel .carousel-indicators .active {
  background: #333333;
}

.carousel-control.left,.carousel-control.right {
  background: none;
}

.gallery-cover {
  background:none;
}

.carousel-control.left, .right span {
  color: #ccc;
}

.thumbnail {
  color: #383838;
}
