.text-slice-section {
  background: white;
  background: no-repeat center;
  background-size: cover;
}

.text-slice-section h2 {
  color: black;
}

.text-slice-section p {
  font-size: 1.5em;
  line-height: 1.25;
}

.text-slice-section-text-area {
  padding-bottom: 80px;
}