.text-slice-section {
  background: white;
}

.text-slice-section h2 {
  color: black;
}

.text-slice-section p {
  font-size: 1.5em;
  line-height: 1.25;
}

.text-slice-section-text-area {
  padding: 0px;
}