//Sass Mixins
@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 767px) { @content; }
  }

  @else if $class == sm {
    @media (min-width: 768px) and (max-width: 991px){ @content; }
  }

  @else if $class == md {
    @media (min-width: 992px) and (max-width: 1199px) { @content; }
  }

  @else if $class == lg {
    @media (min-width: 1200px) and (max-width:2900px) { @content; }
  }

  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

@mixin font-mixin($font-family, $font-size, $color) {
  font-family: $font-family;
  font-size: $font-size;
  color:$color;
}
@mixin box-shadow-mixin($color){
  -webkit-box-shadow: 0 1px 6px $color;
     -moz-box-shadow: 0 1px 6px $color;
          box-shadow: 0 1px 6px $color;
}
